{% extends 'appcommerce/index.html' %}

{% load static %}

{% block content %}
<section class="row" id="tmAbout">
  <header class="col-12 tm-about-header">
    <h2 class="text-uppercase text-center text-dark tm-about-page-title">Acerca de la pastelería</h2>
    <hr class="tm-about-title-hr">
  </header>
  <div class="col-lg-4">
    <div class="tm-bg-black-transparent tm-about-box">
      <div class="tm-about-number-container">1</div>              
      <h3 class="tm-about-name">Empleados</h3>
      <p class="tm-about-description"> Los empleados son personas capacitadas por nosotros mismos, les aseguramos que no habrá malos tratos por parte de nuestros trabajadores.
      
      </p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="tm-bg-black-transparent tm-about-box">
      <div class="tm-about-number-container">2</div>              
      <h3 class="tm-about-name">Reseñas anteriores</h3>
      <p class="tm-about-description"> Aquí te contaremos un poco de lo que han dicho nestros clientes sobre el trato que han recibido por parte de nuestros trabajadores: 
        1.- Los trabajadores del establecimiento "Dulce conexción" nos han tratado bien y han sido atentos con nosotros y muy amables conforme a los cambios de pedidos que han podido surgir.
     2.- Son responsables si llegan a cometer algún error y pueden resolverlos rapidamente y seguir teniendo contentos a los clientes.
     3.- Personas muy capacitadas los de ese establecimiento, el lugar es muy higiénico.
      </p>
     
    </div>
  </div>

  <div class="col-lg-4">
    <div class="tm-bg-black-transparent tm-about-box">
      <div class="tm-about-number-container">3</div>              
      <h3 class="tm-about-name">Recomendaciones</h3>
      <p class="tm-about-description">
      Lo recomiendo porque es una pastelería donde los pasteles son muy buenos y 
      los trabajadores de ahí son muy amables con sus clientes y el lugar fue muy limpio.
      </p>
      <p class="tm-about-description">
    
      </p>
     
    </div>
  </div>
</section>
{% endblock %}        

